.cabecalho{
    display: flex;
    justify-content: space-between;
}

.cabecalho nav{
    display: line;
    flex-direction: row;
}
.cabecalho li{
    display: inline;
    list-style: none;
}
.cabecalho a {
    text-decoration: none;
}